* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6394c6;
}

section h1 {
  font-size: 5rem;
  color: #fff;
  user-select: none;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  perspective: 400px;
  transform-style: preserve-3d;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 5vw;
  height: 5vh;
  background: transparent;
  animation: animate 2s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes animate {
  0% {
    transform: translateZ(2000px);
  }

  50% {
    background: url("./image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 10px 17px 27px 1px #2b2b2b;
  }
  100% {
    transform: translateZ(0px);
    background: url("./image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 10px 17px 27px 1px rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.144);
  }
}

.active .block {
  animation: animateTwo 2s ease-in-out forwards;
  animation-delay: 1s;
  background: url("./image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  box-shadow: 10px 17px 27px 1px rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.144);
}

@keyframes animateTwo {
  0% {
    transform: translateZ(0px);
    background: url("./image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 10px 17px 27px 1px rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.144);
  }

  100% {
    transform: translateZ(2000px);
    background: url("./image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 10px 17px 27px 1px rgba(0, 0, 0, 0);
  }
}
